.whatsappButton__MainContainer{
    display: flex;
    flex-direction: row;
    gap: 5px;
    position: fixed;    
    bottom: 30px;
    right: -90px;
    z-index: 2000;
}
.whatsappButton__Link{
    width: 200px;
}
.whatsappButton__Title{
    margin-right: 5px;
    color: #fff;
    text-decoration: none;
}
.whatsappButton__Image{
    width: 15%;
    height: auto;
}
@media only screen and (max-width: 640px){
    .whatsappButton__Image{
        width: 10%;        
    }   
    .whatsappButton__MainContainer{
        flex-direction: column;
    }
}